    {% extends 'base.html.twig' %}

    {% block title %}Mon portfolio ! - Justin CORNU{% endblock %}

    {% block body %}
        <h1 style="text-align: center;
        margin-top: 5rem;
        background: linear-gradient(135deg, #6e07b8, #ffffff);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-size:6rem;">Justin CORNU</h1>
        <div id="about_me"></div>
            <section class="hidden">
            <p>Bonjour, moi c'est Ju !</p><br>
            <p>Après avoir passé plusieurs années à satisfaire les clients dans le secteur de la restauration,<br>
            j'ai décidé de mettre à profit mes compétences en faveur du numérique.<br><br>
            En tant que développeur web et mobile, je combine mon sens du service, développé au contact de la clientèle, avec ma passion pour les nouvelles technologies.<br><br>
            Rigoureux et organisé, je suis capable de mener à bien des projets complexes tout en respectant les délais.<br>
            Ma curiosité insatiable me pousse à explorer sans cesse de nouveaux horizons et à me tenir informé des dernières avancées<br>
            dans le domaine du développement.</p><hr class="my-5">
            <div class="d-flex justify-content-center">
                <img src="{{ asset('asset/img/profilPicture2.jpg') }}" class="rounded-4" style="height:20rem;"/>
            </div><hr class="my-5">
            <p class="text-center">Je suis convaincu que mon parcours atypique me permet d'apporter une perspective unique à chaque projet.</p>
            <h3 class="text-center mt-5"><strong>Ensemble, réalisons vos idées les plus ambitieuses !</strong></h3>
        </section>

        <section class="hidden">
        <p class="text-center mb-5">Si vous êtes encore ici, c'est pour venir découvrir mon travail, pour me contacter ou tout simplement en apprendre plus sur moi.</p>
            <div class="d-flex justify-content-center">   
                <button type="button" class="btn col-10" data-bs-toggle="modal" data-bs-target="#cvModal">
                    Afficher mon CV
                </button>
            </div>
        <p class="text-center mt-5">Vous voulez en voir plus encore ? Alors continuez de scroller !</p> 
        </section>

    <div class="modal fade" id="cvModal" tabindex="-1" aria-labelledby="cvModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cvModalLabel">Mon CV</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <iframe src="{{ asset('uploads/pdf/CV_Justin_CORNU.pdf') }}" width="100%" height="560px" style="z-index: 1050;"></iframe>
                </div>
            </div>
        </div>
    </div>
    
        <section class="hidden text-center">
            Envie d'une création de site web ?<br><br>
            Que ce soit un site vitrine, un site e-commerce ou une solution métier,<br>
            ne cherchez plus, vous êtes au bon endroit !<br>
        </section>

    <div id="projects"></div>
    <br>
    <section class="hidden mx-5">
        <h3 class="text-center my-5">Retrouvez ici tous mes projets</h3>
        <div class="row">
            {% for projects in projects %}
                <div class="col-md-6 pb-5">
                    <a href="{{ path('app_project', {'slug': projects.slug}) }}" style="text-decoration:none;">
                        <div class="card rounded-4 custom-card">
                            <h4 class="text-center my-5">{{ projects.name }}</h4>
                            <img src="/uploads/images/{{ projects.illustration }}" class="card-img rounded-bottom-4 custom-img" alt="image de la card">                              
                        </div>
                    </a>     
                </div>
            {% endfor %}
        </div>
    </section>

    <div id="contact"></div>
    <br>
        <section class="hidden form-container">
            <h3 style="color:white;" class="text-center my-5">
                Me contacter
            </h3>
            {% if formSubmitted %}
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success mt-4 rounded-4">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
            {{ form(contactForm)}}
        </section>

    {% endblock %}