    <!DOCTYPE html>
    <html lang="fr" data-bs-theme="auto">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="Bonjour, moi c'est Justin ! Je suis un développeur web indépendant et vous êtes dans mon portfolio.
            Naviguez parmis les travaux que j'ai pu réaliser pour trouver votre bonheur et n'hésitez pas à me contacter avec mon formulaire pour
            discuter de votre projet ensemble.">
            <meta name="keywords" content="{% block keywords %}{% endblock %}">
            <meta name="author" content="Justin CORNU">
            <title>Justin CORNU - {% block title %}{% endblock %}</title>
            <link rel="stylesheet" href="{{ asset('build/vendor.css') }}">
            <link rel="stylesheet" href="{{ asset('asset/css/styles.css')}}">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
            <link rel="icon" href="{{ asset('asset/img/code.png') }}">
            <script src="{{ asset('build/vendor.js') }}" defer></script>
            <script src="{{ asset('asset/js/script.js') }}" defer></script>
            {% block stylesheets %}
                {{ encore_entry_link_tags('app') }}
            {% endblock %}
            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
            {% endblock %}
        </head>
        <body>
        <div class="d-flex">
        <div id="sidebar" class="d-flex flex-column p-3 pt-5">
        <div id="logo" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <a href="{{ path('app_home') }}" alt="aller à l'accueil"><img src="{{ asset('asset/img/code.png') }}" class="bi pe-none me-2 ms-3" width="40" height="32" alt="logo du portfolio"></img></a>
          <span class="fs-4 p-4 text-light" id="logo">Just'1 Dev</span>
        </div>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li>
            <a href="{{ path('app_home') }}#about_me" class="nav-link link-light link-opacity-75-hover" alt="aller à la section à propos de moi">
              <svg class="bi pe-none me-2" width="16" height="16"></svg>
              A propos de moi
            </a>
          </li>
          <li>
            <a href="{{ path('app_home') }}#projects" class="nav-link link-light link-opacity-75-hover" alt="aller à la section mes projets">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#projects"/></svg>
              Mes projets
            </a>
          </li>
          <li>
            <a href="{{ path('app_home') }}#contact" class="nav-link link-light link-opacity-75-hover" alt="aller à la section me contacter">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#contact"/></svg>
              Me contacter
            </a>
          </li>
        </ul>
        <div id="href" class="d-flex justify-content-around pb-5">
          <a href="https://github.com/Az62560" target="_blank" rel="noopener noreferrer" id="git" alt="lien vers mon github"><img src="{{ asset('asset/img/white-github.png') }}" style="height:3rem;" alt="logo github"/></a>
          <a href="https://linkedin.com/in/justin-cornu-446075298" target="_blank" rel="noopener noreferrer" alt="lien vers mon linkedin"><img src="{{ asset('asset/img/white-linkedin.png') }}" style="height:3rem;" alt="logo linkedin"/></a>
        </div>
        <hr>
        <footer>
          <a href="{{ path('app_login') }}" class="footer-link">&copy; {{ "now"|date("Y") }} All rights reserved Justin Cornu</a>
        </footer>
      </div>
      <main>
            {% block body %}{% endblock %}
      </main>
      </div>
        </body>
    </html>