<!DOCTYPE html>
<html lang="fr" data-bs-theme="auto">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Bonjour, moi c'est Justin ! Je suis un développeur web indépendant et vous êtes dans mon portfolio.
        Naviguez parmis les travaux que j'ai pu réaliser pour trouver votre bonheur et n'hésitez pas à me contacter avec mon formulaire pour
        discuter de votre projet ensemble.">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        <title>{% block title %}Mon portfolio !{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="{{ asset('build/vendor.css') }}">
        <link rel="stylesheet" href="{{ asset('asset/css/style.css')}}">
        <script src="{{ asset('build/vendor.js') }}" defer></script>
        <script src="{{ asset('asset/js/script.js') }}" defer></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <div class="d-flex">
    <div id="sidebar" class="col-2 d-flex flex-column flex-shrink-0 p-3">
    <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <img src="asset/img/code.png" class="bi pe-none me-2 ms-3" width="40" height="32"></img>
      <span class="fs-4 p-4 text-light">Just'1 Dev</span>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a href="{{path('app_home') }}" class="nav-link link-light link-opacity-75-hover">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#about_me"/></svg>
          A propos de moi
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-light link-opacity-75-hover">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#my_projects"/></svg>
          Mes projets
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-light link-opacity-75-hover">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#contact_me"/></svg>
          Discutons ensemble
        </a>
      </li>
    </ul>
    <hr>
    <footer>
    <a href="{{ path('app_registration') }}" class="nav-link link-light link-opacity-75-hover">Inscription</a>
    <a href="{{ path('app_login') }}" class="nav-link link-light link-opacity-75-hover">All right reserved Justin Cornu</a>
    </footer>
  </div>
  <main class="col-10 p-4">
        {% block body %}{% endblock %}
  </main>
  </div>
    </body>
    {% block script %}{% endblock %}
</html>
