    {% extends 'base.html.twig' %}

    {% block title %}Projet - {{ project.name }}{% endblock %}

    {% block body %}
        <section class="project-detail mx-5">
            <h3 class="text-center my-5 ">{{ project.name }}</h3>
        <div class="d-flex justify-content-around">
            {% if imgProject|length > 0 %}
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#projectImagesModal">Voir les images du projet</button>
            {% endif %}
            {% if project.linkUrl %}
                <a type="button" class="btn" href="https://{{ project.linkUrl }}" target="_blank" rel="noopener noreferrer">Aller vers {{ project.linkUrl }}</a>
            {% endif %}
        </div>
        <p class="mt-5">{{ project.description | raw }}</p>
        <div class="modal fade" id="projectImagesModal" tabindex="-1" aria-labelledby="projectImagesModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="projectImagesModalLabel">{{ project.name }} - Galerie</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                {% for image in imgProject %}
                                <div class="col-md-6 mb-3">
                                    <p class="text-center">{{ image.title }}</p>
                                    <img src="{{ asset('uploads/images/' ~ image) }}" class="img-fluid rounded shadow" alt="{{ project.name }}">
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
